<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Hello PhxInPlaceDemo!</title>
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
  </head>

  <body>
    <div class="container">
      <header class="header">
        <!-- <a href="/"/><span class="logo"></span></a> -->
        <h2 style="text-align:center;">PhxInPlace Demo Page</h2>
      </header>

      <div class="jumbotron">
        <p class="lead">Edit fields below to see PhxInPlace in action.</p>
        <p> Updating any of the input fields below will automatically update the database and trigger either the pip:update_success or pip:update_error event, which can be used client side to trigger additional actions. In the case of the demo a flash message is displayed on error and the entire row of data is refreshed on success.</p>
        <p>The source code for this demo app is available here <<add link here>></add> </p>
      </div>

      <p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
      <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>

      <main role="main">
          <div class="alert alert-danger" id="error-message-container">HELLO</div>
        <%= render @view_module, @view_template, assigns %>
      </main>

    </div> <!-- /container -->
    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
